language: cpp

install:
  # Pip cannot install Conan without these upgrades
  - python3 -m pip install --upgrade pip setuptools
  # Install Conan
  - python3 -m pip install conan

  # Fail if we can't run Conan.
  - conan --version

jobs:
  include:
    - os: linux
      dist: focal
      compiler: gcc
      env:
        - GCC_VER="9"
        - MATRIX_EVAL="CC=gcc-${GCC_VER} && CXX=g++-${GCC_VER}"

      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - python3-pip

before_script:
  - eval "${MATRIX_EVAL}"

script:
  - sed -i "s/__VERSION__/$BUILD_VERSION/g" bintray-descriptor.json
  - mkdir build
  - cd build
  - cmake -D ENABLE_COVERAGE:BOOL=TRUE ../
  - cmake --build . -- -j2
  - ctest -j2
  - cmake --build . --target package

before_deploy:
  - curl -fL https://getcli.jfrog.io | sh
  - ls -alh

deploy:
  provider: script
  skip_cleanup: true
  script:
    - ./jfrog bt upload --user=qrealka --override=true --key $BINTRAY_API_KEY --publish=true --deb=unstable/main/amd64 -vcs-url=https://github.com/qrealka/OTUS_CPP  $TRAVIS_BUILD_DIR/OTUS_CPP-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb

